* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0f172a;
  color: #ffffff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: linear-gradient(to right, #4f46e5, #7c3aed);
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar nav a:hover {
  text-decoration: underline;
}

/* Header */
.page-header {
  padding: 40px;
}

.page-header h1 {
  font-size: 28px;
}

.page-header p {
  color: #cbd5f5;
}

/* Form */
.form-section {
  padding: 40px;
  justify-content: center;
  display: flex;
}

.risk-form {
  background-color: #020617;
  padding: 30px;
  border-radius: 15px;
  max-width: 500px;
  border: 1px solid #1e293b;
  
}

.form-group {
  margin-bottom: 20px;
  align-content: center;
  height: auto;
  width: 100%;
}

label {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
  color: #cbd5f5;
}

input {
  width: 100%;
  padding: 12px 48px;
  border-radius: 8px;
  border: none;
  outline: none;
}

input:focus {
  outline: 2px solid #6366f1;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #6366f1;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/* Result */
.result-section {
  padding: 40px;
}

.result-card {
  max-width: 500px;
  padding: 25px;
  border-radius: 15px;
}

.result-card h2 {
  margin-bottom: 10px;
}

.result-card ul {
  margin-top: 10px;
  font-size: 14px;
}

/* Risk Colors */
.result-card.high {
  background-color: #7f1d1d;
}

.result-card.medium {
  background-color: #78350f;
}

.result-card.low {
  background-color: #14532d;
}

/* Footer */
.footer {
  background-color: #020617;
  text-align: center;
  padding: 20px;
  font-size: 13px;
  color: #94a3b8;
}
